@{
    ViewBag.Title = "ABOUT";
}


<br />
<h1>About</h1>

<h2>Introduction</h2>
<p>The task of purchasing textbooks each coming semester has always been a daunting task for university students. After devoting enormous amounts of time and money to attend university lectures, the last thing many students want to do is purchase an overly expensive textbook that has been casually recommended by the professor, which , in many cases, may never even be used. With bookstore prices reaching an all time high and limited options for a fair buyback or resale option, it’s time for a change. Introducing BookSmash, an online textbook buy and sell platform. Connect with other students and have the ability exchange university textbooks at a fair and affordable price, dictated by students. Never worry about breaking your wallet on new textbooks only to have it bought back at a fraction of the price! BookSmash has the solution to helping students with affordable textbook options.</p>

<h2>Problem Definition</h2>
<p>The problem that students face is that there is currently no platform for users to easily find a second hand textbook and seamlessly get in contact with the person who is selling it. From the opposing perspective there are many students who have also purchased expensive textbooks and do not wish to have the paltry return that the bookstore buyback offers in return. Students on both ends of the transaction wish to have a simple and easy to use platform that allows them to receive a fair price from the resale of their textbooks as well as an affordable alternative to buying the textbooks new.</p>

<h2>Problem Solution</h2>
<p>The solution to this problem is BookSmash, an online platform that allows users to post all of their textbooks and resell them at their own price discretion. Student sellers will input all of the necessary information that will allow the website to sort, and display all relevant books for a specific search made by a potential buyer. Looking for the CPSC 471 textbook? Simply enter in the class name or number in the search bar. The website will allow users to inspect photos, read a description, and will provide the contact information that the seller has specified. Transactions can then be arranged between the two respective students, giving both the buyer and seller fair options for purchase and resale. BookSmash simply offers a means by which students can become connected in order to arrange the exchange of textbooks.</p>




