
@{
    ViewBag.Title = "ChangePW";
}

<h2>ChangePW</h2>
<body>
    if (IsPost)
    {
    string oldPW = Request["passwordO"];
    string newPW = Request["passwordN"];
    <p>
        Password updated for <br>
        @username <br>
    </p>
    }
    else
    {
    <form method="post" action="">
        Username: <br>
        <input type="text" name="username" value=""><br>
        Old Password: <br>
        <input type="text" name="passwordO" value=""><br>
        New Password:<br><br>
        <input type="text" name="passwordN" value=""><br><br>
        <input type="submit" value="Submit" class="submit">

    </form>
    }
</body>