@{
    ViewBag.Title = "Contact";
}

<h1>Contact Us</h1>

<address>
    2500 University Dr NW<br />
    Calgary, AB T2N 1N4<br />
    <abbr title="Phone">P:</abbr>
    (403) 220-5110
</address>

<address>
    <strong>James Bews:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>James Gilder:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a><br />
    <strong>Tevin Schmidt:</strong> <a href="mailto:Tevin.Schmidt@ucalgary.ca">Tevin.Schmidt@ucalgary.ca</a>
</address>