@model BookSmash.Models.UniversitiesModel

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">

        <h2>Welcome</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Please check your details below</p>
                <dl>
                    <dt>Title</dt>
                    <dd>@Model.Title</dd>
                    <dt>Department</dt>
                    <dd>@Model.Department</dd>
                    <dt>Code</dt>
                    <dd>@Model.Code</dd>
                    <dt>University</dt>
                    <dd>@Model.University</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
