@model BookSmash.Models.UniversitiesModel

@{ ViewBag.Title = "FrontPage";}

<div class="container" style="display: flex;">
    <table style="padding: 10px;">
        <tr>
            <td style="padding-top: 25px">Search By Title:</td>
            <td style="padding-top: 25px">@Html.TextBox("title", "", new { @class="searchTable", @placeholder = "Fundamentals of Calculus" })</td>
            <td style="padding-left: 5px; padding-top: 25px">Course:</td>
            <td style="padding-top: 25px">@Html.TextBox("course", "", new { placeholder = "MATH" })</td>
            <td style="padding-left: 5px; padding-top: 25px">Code:</td>
            <td style="padding-top: 25px">@Html.TextBox("code", "", new { placeholder = "275" })</td>
            <td style="padding-top: 25px">University:</td>
            <td>@Html.DropDownListFor(model => model.University, Model.Universities, "-Please Select University-", new { @class = "form-control" })</td>
           
                                                                 


        </tr>
    </table>
    <input type="button" class="mainSearch" value="Smash It!"/>
</div>


