

<div class="container">
    <div class="search">
    <input type="text" class="searchText" placeholder="Fundamentals of Calculus"/>
    <input type="text" class="searchClass" placeholder="MATH"/>
    <input type="text" class="searchCode" placeholder="275"/>
   <!-- <button type="submit" class="searchButton">
        <i class="fade fa-search"></i>
    </button>-->
    </div>
</div>


