@model BookSmash.Models.UniversitiesModel

@{ ViewBag.Title = "FrontPage";}

<form class="form-inline" action="something"></form>
<div class="form-group">
    <input type="title" class="form-control" id="title" />
    <input type="button" class="mainSearch" value="Smash It!"/>
</div>


