@model BookSmash.Models.UniversitiesModel

@{ ViewBag.Title = "FrontPage";}

<h2>Search For Textbooks</h2>

<div class="container">
    @using (Html.BeginForm("FrontPage", "Home", FormMethod.Post, new { role = "form" })) {
            <div class="form-group">
                <label for="title">Title:</label>
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "Fundamentals of Calculus" })
            </div>
            <div class="form-group">
                <label for="department">Department:</label>
                @Html.TextBoxFor(model => model.Department, new { @class = "form-control", @placeholder = "MATH"})
            </div>
            <div class="form-group">
                <label for="code">Code:</label>
                @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @placeholder = "275"})
            </div>
            <div class="form-group">            
                @Html.DropDownListFor(model => model.University, Model.Universities, "-Please Select University-", new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-default">Smash It!</button>
    }
</div>

