
@{
    ViewBag.Title = "Login";
}
<head>Please log in here</head>
<body>
    In order to add or remove your posts, please login below

    if (IsPost)
    {
    string username = Request["username"];
    string password = Request["password"];
    <p>
        Welcome, <br>
        @username <br>
    </p>
    }
    else
    {
    <form method="post" action="">
        Username:<br>
        <input type="text" name="username" value=""><br>
        Password:<br><br>
        <input type="text" name="password" value=""><br><br>
        <input type="submit" value="Submit" class="submit">
        
    </form> 
    }
</body>

