
@{
    ViewBag.Title = "Results";
}

<h2>Search Results:</h2>

@if (ViewBag.Textbooklist != null)
{
    if (ViewBag.Textbooklist.companyNames.Length == 0)
    {
        <p>Your search did not retrun any results. Please try again.</p>
    }
    else
    {
        <p style="font-size:larger">Results:</p> <br />
        foreach (string item in ViewBag.Texbooklist.companyNames)
        {
            @Html.ActionLink(item, "DisplayCompany/" + item, "CompanyListings")
            <br />
        }
    }
}

