
@{
    ViewBag.Title = "Results";
}

<h2>Search Results:</h2>

@if (ViewBag.Textbooklist != null)
{
    if (ViewBag.Textbooklist.Count == 0)
    {
        <p>Your search did not retrun any results. Please try again.</p>
    }
    else
    {
        <p style="font-size:larger">Results:</p> <br />
        foreach (string item in ViewBag.Textbooklist)
        {
            @Html.ActionLink(item, "Textbook/" + item, "PostController")
            <p>@item</p>
            <br />
        }
    }
}

