@model BookSmash.Models.PostModel



@if (ViewBag.Postlist != null)
{
    if (ViewBag.Postlist.Count == 0)
    {
        <p>Your search did not retrun any results. Please try again.</p>
    }
    else
    {
        <p style="font-size:larger">My Posts:</p> <br />
        foreach (var item in ViewBag.Postlist)
        {
            <div>
                @using (Html.BeginForm("DeletePost", "Post", FormMethod.Post, new { role = "form" }))
                {
                    @Html.TextBoxFor(model => model.ID, new { @class = "form-control", @Value = item.ID, @type = "hidden" })
                    @Html.ActionLink((string)@item.title, "Textbook/" + (string)@item.ID, "Post")
                    <input type="submit" value="Delete">
                }
            </div>
            <br />
            }
    }
}
