<script type="text/javascript" src="~/Scripts/Authentication/AuthenticationFunctions.js"></script>

@model BookSmash.Models.LoginModel

@{
    ViewBag.Title = "Index";
}


<style>
    *{
        box-sizing: border-box;
    }

    .left {
        float: left;
        width: 40%;
        padding: 20px;
        margin-top: 10px;
        text-align: center;
        background-color: aliceblue;
    }

    .mid {
        float: left;
        width: 10%;
        background-color: white;
    }

    .right {
        float: left;
        width: 40%;
        padding: 20px;
        margin-top: 10px;
        text-align: center;
        background-color: aliceblue;
    }
</style>

<div style="overflow:auto">

    <div class="left">
        <h2 style="text-align:left">Login</h2>
        <br />
        @using (Html.BeginForm("LogIn", "Authentication", FormMethod.Post, new { role = "form" }))
        {
        <table>
            <tr>
                <td>Email:</td>
                <td>@Html.TextBoxFor(model => model.Email, new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>@Html.TextBoxFor(model => model.Password, new { @class = "form-control" })</td>
            </tr>
        </table>
        <br />
        <p style="color:red">@ViewBag.LogInError</p>
        <input type="submit" class="btn btn-default" value="LogIn" />
        <br />
        }
    </div>
    <div class="mid">
        <p> </p>
    </div>
    <div class="right">
        <h2 style="text-align:left">Create Account</h2>
        <br />
        <p>Create new acount in a few simple steps below.</p>
        <a href="~/Authentication/AccountCreation/">Create Account</a>
        <br />
    </div>
</div>