
<script type="text/javascript" src="~/Scripts/Authentication/AuthenticationFunctions.js"></script>

@{
    ViewBag.Title = "LogIn";
}

<br />
@ViewBag.SuccessfullyCreated
<p> </p>
<p> </p>
<br />

@using (Html.BeginForm("LogIn", "Authentication", FormMethod.Get,
    new { id = "credentialForm"}))
{
    <table>
        <tr>
            <td>Email:</td>
            <td>@Html.TextBox("Email")</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>@Html.Password("Password")</td>
        </tr>
    </table>
    <br />
    <p style="color:red">@ViewBag.LogInError</p>
    <br />
    <input type="submit" value="Log In" />
    <br />


}